.product {
    width: 220px;
    height: 450px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    border: 1px solid #90663927;
    border-radius: 20px;
}

.product > img {
    width: 200px;
    height: 200px;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.price {
    font-size: 16px;
}

.description {
    word-break: break-word;
    font-size: 14px;
    color: rgb(43, 43, 43);
    flex: 1 1 auto;
}

.cart-actions {
    display: flex;
    gap: 5px;
}

input {
    flex: 1 1 auto;
}

button {
    background-color: #DDCCAE;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    box-sizing: content-box;
    padding: 0;
}

.add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart > a {
    background-color: #DDCCAE;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

.add-to-cart > a:hover {
    background-color: #906639;
    color: white;
}
