<div class="product">
    <img [src]="product.image" alt="">
    <span class="name">Пицца{{product.name}}</span>
    <div class="price">
        <span class="price">{{product.price}}</span>
    </div>
    <div class="description">{{product.components}}</div>
    <div class="cart-actions">
        <input type="Количество">
        
        <button(click)="increaseQuantity()">+</button>
        <input type="number"[value]="quantity">
       
        <button (click)="decreaseQuantity()">-</button>
        <div class="add-to-cart">

            <a href="#"(click)="addToCart()">Добавить в корзину</a>
        </div>

    </div>
</div>
    